{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="info-panel registered-users">
        <h1>Currently Registered:</h1>
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Ladder Rank</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td><a href="{{ user.getBnetUrl() }}">{{ user.getDisplayName() }}</a></td>
                    <td>{% if user.getRank().getLadderRank() > 0 %} <strong>{{ user.getRank().getLadderRank() }}</strong> ({{ user.getRank().getLadderPoints() }} points) {% else %} - {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
